
<div class="text-center">
  <h2>Sign up</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class = "row">
      <div class = "form-group col-md-4 col-md-offset-4">
        <div class="field">
          <%= f.text_field :firstname, placeholder: 'First Name', id: 'firstname' %>
        </div>
        
        <div class="field">
          <%= f.text_field :lastname, placeholder: 'Last Name', id: 'lastname'%>
        </div>
        
        <div class="field">
          <%= f.text_field :username, placeholder: 'Username', :id => 'username' %>
        </div>
        
        <div class="field">
          <%= f.email_field :email, placeholder: 'Email', :id => 'email'%>
        </div>
      
        <div class="field">
         
          <%= f.password_field :password, placeholder: 'Password', :id => 'password', autocomplete: "off" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      
        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', :id => 'password_confirmation', autocomplete: "off" %>
        </div>
        
        <div class="field">
          
          <%= f.select :size, options_for_select([['XS'],['S'],['M'],['L'],['XL'],['XXL']]), :id => 'size'%>
        </div>
      </div>
    </div>
    
    <div class = "row">
      <div class = "col-md-4 col-md-offset-4">
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-success btn-block' %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
      </div>
    </div>
    
</div>