<div class = "text-center">
  <%= render "layouts/navbar" %>

    <!--list out items again to show for purchase-->
    
    <% total = 0 %>

    
    <form id="checkout" method="post" action="/create"
        <div id="payment-form"></div>
        <input type="sumbit" value=total>
    </form>
    
    <% link_to 'Go Back To Cart', cart_path %>

    
    <script> scr="https://js.braintreegateway.com/js/braintree-2.20.0.min.js</script>
    <script>
        
        var clientToken = "<%= @token %>"
        
        braintree.setup(clientToken, "dropin", {
            container: "payment-form"
        })
    </script>

</div>
