<div class = "text-center">
  <%= render "layouts/navbar" %>
  <h2>Create Group</h2>
  <%= form_tag groups_path do %>
  <div class = "row">
    <div class = "form-group col-md-4 col-md-offset-4">
      <hr>
      <div class = "field">
        <%= text_field :group,'group_name', placeholder: 'Group Name',:id => 'signup_user' %>
        <%= text_field :group, 'admin_id',:id => 'signup_email',:value => current_user.id,:readonly => true,:type =>'hidden' %>
       
        <%= submit_tag 'Create Group', class: "submitTag btn btn-success btn-block", :id => 'signup_create' %>
        <br/>
        <%= link_to 'Cancel', authenticated_root_path , :id => 'cancel'%>
      </div>
    </div>
  </div>
    
    
    
  <% end %>
</div>