<div class = "text-center">
  <%= render "layouts/navbar" %>
  <h2>Admin Page for <%= @group.group_name %></h2>
  <div class = "row">
    <div class ="col-md-4 col-md-offset-4">
      <hr>
    </div>
  </div>
  <%= link_to 'Create Garment', shirts_path%>

  <% if @newusers.count > 0 %>
    <div class="row", id="userheader">
      <h3>Users that want to join your group:</h3>
      <div class ="col-md-4 col-md-offset-4"><hr></div>
      <div class="col-md-2 col-md-offset-3"><u>Name</u></div>
      <div class="col-md-2"><u>Accept</u></div>
      <div class="col-md-2"><u>Deny</u></div>
      
      <%= form_for(@group, :url => group_path, :method => :patch) do |f| %>
        <%= text_field :group,'group_name', :value => @group.group_name, :readonly => true, :hidden => true %>
        <%= text_field :group, 'admin_id',:id => 'signup_email',:value => @group.admin_id,:readonly => true, :hidden => true %>
        <%= text_field :group, 'group_id', :id => 'group_id', :value => @group.group_id, :readonly => true, :hidden => true %>
        
        <% @newusers.each do |user,membership| %>
          <div style="height:30px;"></div>
          <div class="row">
            <div class="col-md-2 col-md-offset-3"><%= user.username %></div> 
            <div class="col-md-2"><%= check_box_tag 'accept[]', user.email %></div>
            <div class="col-md-2"><%= check_box_tag 'deny[]',  user.email  %></div>
          </div>
        <% end %>
        <div class="col-md-4 col-md-offset-4">
          <div class="actions">
            <%= f.submit "update",class: 'btn btn-success btn-block' %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
  <br/>
  <br/>
  <div class = "row">
    <div class ="col-md-4 col-md-offset-4">
      <h3>Current Members:</h3>
      <hr>
      <% @members.each do |membership| %>
        <h4><%= membership.user_id %></h4>
        
      <%end%>
    </div>
    
  </div>
</div>