<div class = "text-center">
  <h2>Forgot your password?</h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class = "row">
      <div class = "form-group col-md-4 col-md-offset-4">
        <div class="field">
          <%= f.email_field :email, placeholder: 'Email', autofocus: true %>
        </div>
        
      </div>
    </div>
    
    <div class = "row">
      <div class = "form-group col-md-4 col-md-offset-4">
        <div class="actions">
          <%= f.submit "Submit", class: 'btn btn-success btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
