<div class = "text-center">
  <%= render "layouts/navbar" %>


    <% if !@myMemberships.nil? %>
      <% @myMemberships.each do |membership| %>
       
      <% end %>
    <% end %>
  <h2>My Groups</h2>
  <div class = "row">
    <div class = "col-md-4 col-md-offset-4">
      <hr>
    </div>
  </div>
  <% if !@myGroups.nil? %>
    <% @myGroups.each do |key, group| %>
      <h3><%=group["group"].group_name%></h3>
      <% if !group["shirts"].empty? %>
        <% group["shirts"].in_groups_of(3,false).each do |shirts|%>
          <div class="row">
            <div class = "col-md-offset-2">
              <% shirts.each do |s| %>
                <div class = "col-md-3">
                  <div class = "card card-block">
                    <div class="card-title"><h5><%= s["product"]["name"] %></h5></div>
                    </br>
                    <% if s["shirt"].price.nil? %>
                      <div class="card-content">N/A</div>
                    <% else %>
                      <div class="card-content">$<%= s["shirt"].price %></div>
                    <% end %>
                    </br>
                    <div class="card-content"><%= s["shirt"].delivery_address %></div>
                    </br>
                    <div class="card-content"><%= s["shirt"].end_date %></div>
                    <div class="row">
                      <div class="col-xs-6">
                        <h5>Design</h5>
                      </div>
                      <div class="col-xs-6">
                        <h5>Style</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <img id = "shirtHomeImg" src=<%=s["shirt"].image_url%>></img>
                      </div>
                      <% @helper = [] %>
                      <div class="col-xs-6">
                        <% @productColor = s["product"]["colors"].select{|color| color["name"] == s["shirt"].color} %>
                          <% if @productColor==@helper %>
                            <img id = "shirtHomeImg" src=<%=s["product"]["image"]["url"]%>></img>
                          <% else %>
                            <% @imageColor = @productColor[0]["images"].select{|image| image["label"] == "Front"} %>
                            <% if @imageColor==@helper %>
                              <% @imageColor = @productColor[0]["images"][0] %>
                            <% end %>
                            <img id = "shirtHomeImg" src=<%= @imageColor[0]["url"] %>></img>
                          <% end %>  
                      </div>
                      <p><a href="/cart/<%= s["shirt"].design_id %>">Add to Cart</a></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        
      <% else %>
        <h4>This group does not have any current shirts</h4>
      <%end %>
    <% end %>
  <% end %>
  <h2>Groups to Join</h2>
  <div class = "row">
    <div class = "col-md-4 col-md-offset-4">
      <hr>
    </div>
  </div>
    <% @allGroupsNotMine.each do |group| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= text_field :group,'group_name', :value => group.group_name, :readonly => true, :hidden => true %>
          <%= text_field :group, 'admin_id',:id => 'signup_email',:value => group.admin_id,:readonly => true, :hidden => true %>
          <%= text_field :group, 'group_id', :id => 'group_id', :value => group.group_id, :readonly => true, :hidden => true %>
          <%= text_field :id, 'id', :value => group.group_id_id, :readonly => true, :hidden => true %>
          <div class = "well">
            <h3><%= group.group_name %></h3> 
            <%= link_to("Join!", memberships_path(group,:group_id => group.group_id),:method => :post) %>
          </div>
        </div>
      </div>
    <% end %>

    <h1>My Orders</h1>
    <% if !@myOrders.nil? %>
      <% @myOrders.each do |order| %>
      <div class = "card card-block col-xs-4 col-xs-offset-4">
        <h3><%= order["shirt"].product %></h3></br>
        
        <div class="row col-xs-4 col-xs-offset-4">
          <div class="col-xs-6">
            <img  src=<%=order["shirt"].image_url%> style="height:100px;width:100px;"></img>
          </div>
          <div class="col-xs-6 ">
          <% @helper = [] %>
            <div class="col-xs-6">
              <% @productColor = order["product"]["colors"].select{|color| color["name"] == order["shirt"].color} %>
                <% if @productColor==@helper %>
                  <img id = "shirtHomeImg" src=<%=order["product"]["image"]["url"]%> style="height:100px;width:100px;"></img>
                <% else %>
                  <% @imageColor = @productColor[0]["images"].select{|image| image["label"] == "Front"} %>
                  <% if @imageColor==@helper %>
                    <% @imageColor = @productColor[0]["images"][0] %>
                  <% end %>
                  <img id = "shirtHomeImg" src=<%= @imageColor[0]["url"] %> style="height:100px;width:100px;"></img>
                <% end %>  
            </div>
          </div>
        </div></div></br></br>
       <% end %>
     <% end %>
  
</div>

