
<div class = "text-center">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class = "row">
      <div class = "form-group col-md-4 col-md-offset-4">
        <hr>
        <div class="field">
          <%= f.email_field :email,  placeholder: 'Email', :id => 'email', autofocus: true %>
        </div>
        <div class="field">
          <%= f.password_field :password, placeholder: 'Password', :id => 'password', autocomplete: "off" %>
        </div>
      </div>
    </div>
    
    <div class = "row">
      <div class = "col-md-4 col-md-offset-4">
        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-success btn-block'%>
        </div>
      </div>
    </div>
    <div class = "row">
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <% end %>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>