<div class = "text-center">
  <%= render "layouts/navbar" %>
  
  <div class ="row">
    <h2>Garment Options</h2>
    <div class = "col-md-4 col-md-offset-4">
      <hr>
    </div>
  </div>
 
  <%= form_tag shirts_show_path do %>
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <div class = "card">
          <table id="products">
            <thead>
              <tr>
                <th style="text-align:left">Name</th>
                <th style="text-align:center">Select</th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td style="text-align:left">
                    <%= category["name"] %>
                  </td>
                  
                  <td style="text-align:center">
                    <%= radio_button_tag "category", "#{category["categoryId"]}" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class = "col-md-4 col-md-offset-4">
        <%= submit_tag 'Choose this category', class: "submitTag btn btn-success btn-block", :id => "category button" %>
      </div>
    </div>
  <% end %>
  

</div>