<div class = "text-center">
  <%= render "layouts/navbar" %>
  
  <h2><%= @category%></h2>
  
  
  <div class = "col-md-6 col-md-offset-3">
    <hr>
    <%= form_tag shirts_show_product_path do %>
      <div class = "card">
          <table id="products">
            <thead>
              <tr>
                <th style="text-align:left">Product Name</th>
                <th style="text-align:center">Image</th>
                <th style="text-align:center">Select</th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td style="text-align:left">
                    <%= product["name"] %>
                  </td>
                  <td>
                    <% if !product["image"].nil? %>
                      <%= image_tag product["image"]["url"], :id => "shirtsShowImg" %>
                    <% end %>
                  </td>
                  
                  <td style="text-align:center">
                    <%= radio_button_tag "product", "#{product["id"]}" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%= submit_tag 'Choose this Product', class: "submitTag btn btn-success btn-block", :id => "category button" %>
    <% end %>
  </div>
  
</div>