
<%= render "layouts/navbar" %>

<% if flash[:notice] %>
    <div class="flash_message" id="notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<h2><%=@product["name"] %></h2>
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <hr>
  </div>
</div>

  <div class = "row">
    <div class = "col-md-3 col-md-offset-3">
      <%= image_tag @product["image"]["url"], :id => "productImg"%>
    </div>
    <div class = "col-md-3">
      <p><b><%=@product["description"] %></b></p>
      </br>
      <h3>Colors</h3>
  <%= form_tag new_shirt_path, multipart: true, :method => 'get' do %>
    <select name="shirt[color]" id="shirt_color">
      <% @product["colors"].each do |color| %>
        <option value="<%=color["name"]%>"><%=color["name"]%></option> 
        
      <% end %>
    </select>
</div>
</div>

  </br>
  <div class = "row">
    <div class = "col-md-4 col-md-offset-4">
      <div class = "field">
        <%= text_field :shirt,:delivery_address, placeholder: 'Address for delivery' %>
      </div>
      <div class = "field">
        <%= text_field :shirt,:end_date, placeholder: 'End date of order (mm/dd/yyyy)'  %>
      </div>
      <div class = "field">  
        <%= text_field :shirt, :price, placeholder: '$  .  ' %>
      </div>
      <div class = "field">
        <%= text_field :shirt, :image_url, placeholder: 'Image URL' %>
      </div>
      <div class = "field">
        <%= text_field :shirt, :product, :value=> params[:product], :hidden => true %>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <%= submit_tag 'Choose this Item', class: "submitTag btn btn-success btn-block", :id => "product button" %>
    </div>
  </div>
  <% end %>


  <div id="imgModal" class="modal">
    <span class="close">×</span>
    <img class="modal-content" id="modalimg">
  </div>
  
  <script>
    // Get the modal
    var modal = document.getElementById('imgModal');
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('productImg');
    var modalImg = document.getElementById("modalimg");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
    }
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }
  </script>


  



