/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body
{
    background: url('/assets/imageedit_1_9215449620.png') fixed;/*url(http://odk.org/wp-content/uploads/2014/05/School.jpg) fixed; */
    background-size: cover;
    padding: 0;
    margin: 0;


}

h2
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #000000; /*FFFFFF*/
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h3
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000000; /*FFFFFF*/
    margin-top: 2.5%;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h4
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #2C3131; /*FFFFFF*/
    margin-top: 2%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF; /*FFFFFF*/
    margin-top: 2%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a
{
    color: #FFFFFF;
    font-size: 18px;
}

a:hover
{
    color: #000000;
    transition: color 0.5s ease;
}

label
{
    color: #2C3131;
}

select
{
    width: 50%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border-color: #000000;
    font-size: 17px;
    color: #2C3131;
    font-weight: 400;
    letter-spacing: 1px;
    
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #2A2D2D;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #2A2D2D;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #2A2D2D;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #2A2D2D;
}

.field input[type="text"], input[type="email"], input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 2px solid #000000; /*FFFFFF*/
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000; /*FFFFFF*/
    outline: 0;
    text-transform: uppercase;
}

.actions input[type="submit"]
{
    width: 100%;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.actions input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

.submitTag
{
    width: 100%;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.submitTag:hover
{
    transition: background-color 0.5s ease;
}

.card.card-block
{
    background-color: #333;
    border-color: #333;
    opacity: 0.85;
    height: 320px;
    padding: 5px;
}

.card-block a
{
    color: #FFFFFF;
}

.card-block a:hover
{
    color: #000000;
    transition: color 0.5s ease;
}

.card-title
{
    opacity: 1;
    color: #FFFFFF;
}

.card-content
{
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
}

.card
{
    background-color: #FFFFFF;
    opacity: 0.95;
    border-radius: 20px;
}

table
{
    border-radius: 5px;
    width: 75%;
    float: none;
    margin: 0px auto;
}

th
{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    /*text-align: center;*/
}

td
{
    text-align: center;
    font-size: 17px;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus 
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#productImg 
{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
}

#productImg:hover 
{
    opacity: 0.8;
}

.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content 
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}

#shirtsShowImg
{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 5px;
}

#shirtHomeImg
{
    display: block;
    margin: auto;
    width: 75%;
    border-radius: 5px;
    height: 100px;
}

p{
    font-size: 16px;
    text-align: center;
}

#shirt_color 
{
    display: block;
    margin: 0 auto;
}

.navbar-inverse .navbar-header a
{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-inverse .navbar-nav li
{
    font-size: 16px;
}

.navbar-inverse .navbar-nav a
{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.well
{
    opacity: 0.9;
}

.well a 
{
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    
}

.well a:hover
{
    color: #FFFFFF;
    transition: color 0.5s ease;
}

