// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shirt{
    color: red;
    background-color: white;
    column-gap: 40 px;
}
.card-content{
    color: white;
}
  