<nav class="navbar navbar-inverse"> 
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'EZSHIRTS', authenticated_root_path, class: "navbar-brand"%>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to 'Home', authenticated_root_path%></li>
        <li class="dropdown <%= 'active' if params[:controller] == 'groups' %>"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=current_user.firstname%>'s Groups <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @groups.each do |group| %>
              
               <li><%= link_to(group.group_name,group_path(group,:group_id => group.group_id)) %></li>
              
            <% end %>
            <li class="divider"></li>
            <li><%= link_to('Create Group', new_group_path, :method => :get, :id => 'createGroup') %></li>
          </ul>
        </li>
        <li class="<%= 'active' if params[:controller] == 'cart' %>"><%= link_to 'Cart', cart_path %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, :id=>'Logout') %></li>
      </ul>
    </div>
  </nav>
  