<!DOCTYPE html>
<html>
<head>
  <title>SeltTeam8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:header) if content_for? :header %>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>

  <%= yield %>
  <p class="notice text-center"><%= notice %></p>
  <p class="alert text-center"><%= alert %></p>

</body>
</html>
